<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="telegram.api.url" value="https://api.telegram.org/bot"/>
		<add key="telegram.token" value="YOUR_API_KEY_GOES_HERE"/>

		<add key="openweather.api.url" value="http://api.openweathermap.org/data/2.5/weather"/>
		<add key="openweather.key" value="YOUR_API_KEY_GOES_HERE"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
</configuration>